body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-image: url(assests/travel.jpg);
}

.calculator {
    text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
}